{{#> basePartial navigationPartialName="navigationTagIndexPartial" description="Archive of all posts since the beginning of time"}}
<ul>
{{#each posts}}
<li>{{> articleSummaryPartial}}</li>
{{/each}}
</ul>
{{/basePartial}}
