{{#> basePartial navigationPartialName="navigationPostPartial"}}
<article>
    <header>
        <h1><a href=".">{{title}}</a></h1>
        {{> datePartial}}
    </header>
{{{contents}}}
<footer>
    <p><a href="{{rootPath}}">Back to home</a></p>
</footer>
</article>
{{/basePartial}}
