{{#> basePartial navigationPartialName="navigationRootPartial" description=site.description}}
<ul>
{{#each posts_recent}}
<li>{{> articleSummaryPartial}}</li>
{{/each}}
</ul>
<footer>
<p><a href="archive.html">More articles...</a></p>
</footer>
{{/basePartial}}
