<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Schemescape: Title goes here</title><!-- TODO -->
        <meta name="description" content="summary goes here" /><!-- TODO -->
        <meta name="keywords" content="blog,development" /><!-- TODO -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="style.css" />
        <!-- TODO: RSS -->
    </head>
    <body>
        <main>
            <header><h1><a href="">Schemescape</a></h1></header><!-- TODO: URL -->
            <article>
                <header>
                    <h1><a href="">Post title</a><!-- TODO: insert title and make it a link --></h1>
                    <p>Date: <time>2021-09-13</time></p><!-- TODO -->
                </header>
                <!-- TODO: summary -->
                <summary>Summary goes here.</summary>
                <!-- TODO: body -->
                <p>Post body goes here. </p>
            </article>
        </main>
    </body>
</html>